<!DOCTYPE html>
%html
  %head
    %title Glitter Emporium
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %script{type: "text/javascript", src: "//use.typekit.net/skd1tfp.js"}
    %script{type: "text/javascript"}
      try{Typekit.load();}catch(e){}

  %body
    #header
      Glitter Emporium
    = yield
